<%- include('partials/header') %>

<div class="main-container">
    <div class="content-wrapper">
        <h1 class="title">Aapki Sarkar</h1>
        <p class="slogan">Empowering Citizens, Transforming Governance</p>
        
        <div class="button-container">
            <a href="/signup" class="btn btn-orange">Sign Up</a>
            <a href="/login" class="btn btn-blue">Login</a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
