<%- include('partials/header') %>

<div class="login-form">
    <h2>Sign Up</h2>

    <% if (errorMessage) { %>
        <script>
            alert("<%= errorMessage %>");
        </script>
    <% } %>


    <form action="/signup" method="post">
        <label for="name">Name</label>
        <input type="text" id="mobile" name="name" placeholder="Enter your Name" required >

        <label for="email">E-mail</label>
        <input type="text" id="mobile" name="email" placeholder="Enter your email Address" required >

        <label for="mobile">Mobile Number:</label>
        <input type="tel" id="mobile" name="mobile" placeholder="Enter your mobile number" required pattern="[0-9]{10}">

        <label for="category" style="margin:5px 0;">Category:</label>
        <select id="category" style="display:block; width: 100%;margin: 5px 0px;"name="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
            
        </select>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>

        <label for="password">Admin Key (leave empty if not applicable):</label>
        <input type="password" id="password" name="admin_key" placeholder="Enter the key" >

        <button type="submit">GET OTP</button>
    </form>

    <form action="/verify-otp" method="post" class="verify-form">
        <input type="tel" id="mobile" name="otp" placeholder="Enter the OTP" required pattern="[0-9]{6}">
        <button type="submit">Submit</button>
    </form>
</div>

<%- include('partials/footer') %>
